<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false && authService?.signedIn">
    <mat-toolbar>Platform</mat-toolbar>
    <mat-nav-list *ngIf="loggedInUser$ | async">
      <a mat-list-item [routerLink]="['/user/edit']" routerLinkActive="active-list-item">Edit Profile</a>

      <a mat-list-item
        *appCanAccess="['application', 'myApplications']"
        [routerLink]="['/application']"
        routerLinkActive="active-list-item">My Applications</a>

      <a *appCanAccess="['application', 'allApplications']" mat-list-item
        [routerLink]="['/application']"
        routerLinkActive="active-list-item">Applications List</a>

      
    </mat-nav-list>
</mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer?.toggle()"
        *ngIf="authService?.signedIn">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>platform-fe</span>
    </mat-toolbar>
    <!-- Add Content Here -->

    <amplify-authenticator [signUpConfig]="signUpConfig" [usernameAttributes]="usernameAttributes">
    </amplify-authenticator>
    <div *ngIf="loggedInUser$ | async">
      <router-outlet></router-outlet>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>