<!-- <div> -->
    
  <form [formGroup]="userProfileForm" class="profile-form" *ngIf="(user$ | async) as user" (ngSubmit)="updateUser()">
    <mat-form-field class="field-full-width">
        <input matInput disabled formControlName="name" disabled placeholder="Name">
    </mat-form-field>

    <mat-form-field class="field-full-width">
        <input matInput formControlName="email" disabled  placeholder="Email">
    </mat-form-field>

    <mat-form-field class="field-full-width">
        <input matInput formControlName="linkedin_url" placeholder="Linkedin Profile">
    </mat-form-field>

    <mat-form-field class="field-full-width">
        <input matInput formControlName="github_url" placeholder="Github Profile">
    </mat-form-field>

    <mat-form-field class="field-full-width">
        <input matInput formControlName="stackoverflow_url" placeholder="Stackoverflow Profile">
    </mat-form-field>

    <mat-form-field class="field-full-width">
        <input matInput formControlName="location" placeholder="Current Location">
    </mat-form-field>

    <div formGroupName="currentJobDetails">
        <mat-form-field class="field-full-width">
            <input matInput formControlName="jobProfile" [value]="user?.currentJobDetails?.jobProfile" placeholder="Current Job Profile">
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput formControlName="companyName" [value]="user?.currentJobDetails?.companyName" placeholder="Company Name">
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput formControlName="companyLocation" [value]="user?.currentJobDetails?.companyLocation" placeholder="Company Location">
        </mat-form-field>

    </div>

    <button mat-raised-button color="primary">Update Profile</button>

  </form>
<!-- </div> -->
